openapi: 3.0.3
info:
  title: Tavus Developer API Collection
  version: 1.0.0
  contact: {}
servers:
  - url: https://tavusapi.com
paths:
  /v2/lipsync:
    post:
      tags:
        - Lipsync
      summary: Create Lipsync
      deprecated: true
      description: >
        This endpoint is no longer supported by Tavus.


        Create a new lipsync video by providing a video URL and an audio URL.
        The service will synchronize the speaker's mouth movements with the
        provided audio.
      operationId: createLipsync
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                original_video_url:
                  type: string
                  description: >-
                    A direct link to the video that will be modified. This
                    should be a publicly accessible / presigned S3 URL.
                  example: https://example.com/video.mp4
                source_audio_url:
                  type: string
                  description: >-
                    A direct link to the audio file that will be synchronized
                    with the video. This should be a publicly accessible /
                    presigned S3 URL.
                  example: https://example.com/audio.mp3
                lipsync_name:
                  type: string
                  description: An optional name for the lipsync video.
                  example: My Lipsync Video
                callback_url:
                  type: string
                  description: >-
                    A url that will receive a callback on completion of the
                    lipsync or on error.
                  example: https://your-callback-url.com
              required:
                - original_video_url
                - source_audio_url
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lipsync_id:
                    type: string
                    description: A unique identifier for the lipsync request.
                    example: wf85407a7ba9d
                  lipsync_name:
                    type: string
                    nullable: true
                    description: The name of the lipsync request.
                    example: My Lipsync Video
                  status:
                    type: string
                    description: The status of the lipsync request.
                    example: started
                  callback_url:
                    type: string
                    description: >-
                      The callback URL that will receive notifications about the
                      lipsync request.
                    example: https://your-callback-url.com
                  request_id:
                    type: string
                    description: >-
                      Legacy field - will be removed soon. Use lipsync_id
                      instead.
                    example: wf85407a7ba9d
                  request_name:
                    type: string
                    description: >-
                      Legacy field - will be removed soon. Use lipsync_name
                      instead.
                    example: My Lipsync Video
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid original_video_url
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    get:
      tags:
        - Lipsync
      summary: List Lipsyncs
      deprecated: true
      description: >
        This endpoint is no longer supported by Tavus.


        This endpoint returns a list of all Lipsyncs created by the account
        associated with the API Key in use.
      operationId: listLipsyncs
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: The number of lipsyncs to return per page. Default is 10.
        - in: query
          name: page
          schema:
            type: integer
          description: The page number to return. Default is 1.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        lipsync_id:
                          type: string
                          description: A unique identifier for the lipsync request.
                          example: w0108f2d24k2a
                        lipsync_name:
                          type: string
                          description: The name of the lipsync video.
                          example: My Lipsync Video
                        status:
                          type: string
                          description: >-
                            The status of the lipsync request. Can be either
                            `started`, `completed`, or `error`.
                        created_at:
                          type: string
                          description: The date and time the lipsync request was created.
                        video_url:
                          type: string
                          description: The URL to download the completed lipsync video.
                          example: >-
                            https://lipsync-prod.s3.amazonaws.com/l0108f2d24k2a.mp4
                        request_id:
                          type: string
                          description: >-
                            Legacy field - will be removed soon. Use lipsync_id
                            instead.
                          example: w0108f2d24k2a
                        request_name:
                          type: string
                          description: >-
                            Legacy field - will be removed soon. Use
                            lipsync_name instead.
                          example: My Lipsync Video
                  total_count:
                    type: integer
                    description: The total number of lipsync videos that fit the query.
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/lipsync/{lipsync_id}:
    get:
      tags:
        - Lipsync
      summary: Get Lipsync
      deprecated: true
      description: |
        This endpoint is no longer supported by Tavus.

        This endpoint returns a single lipsync by its unique identifier.
      operationId: getLipsync
      parameters:
        - in: path
          name: lipsync_id
          required: true
          schema:
            type: string
          description: A unique identifier for the lipsync request.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lipsync_id:
                    type: string
                    description: A unique identifier for the lipsync request.
                    example: w0108f2d24k2a
                  lipsync_name:
                    type: string
                    description: The name of the lipsync video.
                    example: My Lipsync Video
                  status:
                    type: string
                    description: The status of the lipsync request.
                  created_at:
                    type: string
                    description: The date and time the lipsync request was created.
                  video_url:
                    type: string
                    description: The URL to download the completed lipsync video.
                    example: https://lipsync-prod.s3.amazonaws.com/l0108f2d24k2a.mp4
                  request_id:
                    type: string
                    description: >-
                      Legacy field - will be removed soon. Use lipsync_id
                      instead.
                    example: w0108f2d24k2a
                  request_name:
                    type: string
                    description: >-
                      Legacy field - will be removed soon. Use lipsync_name
                      instead.
                    example: My Lipsync Video
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid lipsync_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    delete:
      tags:
        - Lipsync
      summary: Delete Lipsync
      deprecated: true
      description: |
        This endpoint is no longer supported by Tavus.

        This endpoint deletes a single lipsync by its unique identifier.
      operationId: deleteLipsync
      parameters:
        - in: path
          name: lipsync_id
          required: true
          schema:
            type: string
            example: w4ed23359d415
          description: A unique identifier for the lipsync request.
      responses:
        '204':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid lipsync_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/replacements:
    post:
      tags:
        - Replacements
      summary: Create Replacement
      deprecated: true
      description: >
        This endpoint is no longer supported by Tavus.


        This endpoint creates a test word replacement request that will modify
        specific words or phrases in an existing video.
      operationId: createReplacement
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                original_video_url:
                  type: string
                  description: >-
                    A direct link to the video that will be modified. This
                    should be a publicly accessible / presigned S3 URL.
                  example: https://example.com/video.mp4
                transcription_id:
                  type: string
                  example: t0108f2d24k2a
                  description: A unique identifier for the transcription.
                new_transcript:
                  type: string
                  example: Hello John, I'm excited to show you our new product!
                  description: >-
                    The new text that will replace the old text in the video.
                    This should be an edited version of the text returned from
                    the transcription service (referenced by transcription_id).
                    Both the original transcription and this new text are used
                    to identify which words to replace.
                callback_url:
                  type: string
                  description: >-
                    A url that will receive a callback on completion of the
                    replacement or on error.
                  example: https://your-callback-url.com
                replacement_name:
                  type: string
                  description: An optional name for the replacement.
                  example: My First Replacement
              required:
                - original_video_url
                - new_transcript
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  replacement_id:
                    type: string
                    example: w0108f2d24k2a
                    description: A unique identifier for the replacement.
                  status:
                    type: string
                    description: The status of the replacement.
                  created_at:
                    type: string
                    description: The date and time the replacement was created.
      security:
        - apiKey: []
    get:
      tags:
        - Replacements
      summary: List Replacements
      deprecated: true
      description: >
        This endpoint is no longer supported by Tavus.


        This endpoint returns a list of all Replacements created by the account
        associated with the API Key in use.
      operationId: listReplacements
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: The number of replacements to return per page. Default is 10.
        - in: query
          name: page
          schema:
            type: integer
          description: The page number to return. Default is 1.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        replacement_id:
                          type: string
                          description: A unique identifier for the replacement.
                          example: w0108f2d24k2a
                        replacement_name:
                          type: string
                          description: The name of the replacement.
                          example: My First Replacement
                        status:
                          type: string
                          description: >-
                            The status of the replacement. Can be either
                            `started`, `completed`, or `error`.
                        created_at:
                          type: string
                          description: The date and time the replacement was created.
                  total_count:
                    type: integer
                    description: The total number of replacements that fit the query.
      security:
        - apiKey: []
  /v2/replacements/{replacement_id}:
    get:
      tags:
        - Replacements
      summary: Get Replacement
      deprecated: true
      description: |
        This endpoint is no longer supported by Tavus.

        This endpoint returns a single replacement by its unique identifier.
      operationId: getReplacement
      parameters:
        - in: path
          name: replacement_id
          required: true
          schema:
            type: string
          description: A unique identifier for the replacement.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  replacement_id:
                    type: string
                    example: w0108f2d24k2a
                    description: A unique identifier for the replacement.
                  replacement_name:
                    type: string
                    description: The name of the replacement.
                  status:
                    type: string
                    description: The status of the replacement.
                  created_at:
                    type: string
                    description: The date and time the replacement was created.
      security:
        - apiKey: []
    delete:
      tags:
        - Replacements
      summary: Delete Replacement
      deprecated: true
      description: |
        This endpoint is no longer supported by Tavus.

        This endpoint deletes a single replacement by its unique identifier.
      operationId: deleteReplacement
      parameters:
        - in: path
          name: replacement_id
          required: true
          schema:
            type: string
          description: A unique identifier for the replacement.
      responses:
        '204':
          description: ''
      security:
        - apiKey: []
  /v2/videos:
    get:
      tags:
        - Videos
      summary: List Videos
      description: >
        This endpoint returns a list of all Videos created by the account
        associated with the API Key in use.
      operationId: listVideos
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: The number of videos to return per page. Default is 10.
        - in: query
          name: page
          schema:
            type: integer
          description: The page number to return (0-indexed). Default is 0 (first page).
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      Videos for the current page; use `total_count` for the
                      full count under the applied filters.
                    items:
                      type: object
                      properties:
                        video_id:
                          type: string
                          description: A unique identifier for the video.
                          example: 783537ef5
                        video_name:
                          type: string
                          description: A name for the video.
                          example: My First Video
                        status:
                          type: string
                          description: >-
                            The status of the video. Possible values: queued,
                            generating, ready, deleted, error.
                          example: generating
                        data:
                          type: object
                          properties:
                            script:
                              type: string
                              description: >-
                                The script that was initially used to generate
                                the video.
                              example: Hello from Tavus! Enjoy your new replica
                        download_url:
                          type: string
                          description: A link to download the video.
                          example: ''
                        hosted_url:
                          type: string
                          description: A link to view the video.
                        stream_url:
                          type: string
                          description: A link to stream the video.
                          example: ''
                        status_details:
                          type: string
                          description: A detailed status of the video.
                          example: ''
                        background_url:
                          type: string
                          description: >-
                            A link to a website. This will be used as the
                            background for the video. The website must be
                            publicly accessible and properly formed.
                          example: ''
                        background_source_url:
                          type: string
                          description: >-
                            A direct link to a video that is publicly accessible
                            via a storage location such as an S3 bucket. This
                            will be used as the background for the video. The
                            video must be publicly accessible.
                          example: ''
                        still_image_thumbnail_url:
                          type: string
                          description: >-
                            A link to a still image that is a thumbnail of the
                            video.
                          example: ''
                        gif_thumbnail_url:
                          type: string
                          description: A link to a gif that is a thumbnail of the video.
                          example: ''
                        error_details:
                          type: string
                          description: >-
                            If the video has an error, this will contain the
                            error message.
                          example: ''
                  total_count:
                    type: integer
                    description: The total number of videos given the filters provided.
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    post:
      tags:
        - Videos
      summary: Generate Video
      description: >
        This endpoint generates a new video using a Replica and either a script
        or an audio file.
      operationId: generateVideo
      requestBody:
        description: >
          The only required body parameters are `replica_id` and either `script`
          or `audio_url`.


          If a `background_url` is provided, Tavus records the website and uses
          it as the background. If a `background_source_url` is provided (for
          example a presigned S3 URL to a video), that video is used as the
          background. If neither is provided, the video is full-screen replica
          only.


          To learn more about generating videos with Replicas, see
          [here](/sections/video/quickstart).


          To learn more about writing an effective script for your video, see
          [Scripting prompting](/sections/troubleshooting#script-length).
        content:
          application/json:
            schema:
              type: object
              properties:
                replica_id:
                  type: string
                  description: >-
                    A unique identifier for the replica that will be used to
                    generate the video.
                  example: r90bbd427f71
                video_name:
                  type: string
                  description: A name for the video.
                  example: My First Video
                background_url:
                  type: string
                  description: >-
                    A link to a website. This will be used as the background for
                    the video. The website must be publicly accessible and
                    properly formed.
                  example: https://yourwebsite.com/
                background_source_url:
                  type: string
                  description: >-
                    A direct link to a video that is publicly accessible via a
                    storage location such as an S3 bucket. This will be used as
                    the background for the video. The video must be publicly
                    accessible.
                  example: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-background-video.mp4
                callback_url:
                  type: string
                  description: >-
                    A url that will receive a callback on completion of video
                    generation or on error.
                  example: https://yourwebsite.com/webhook
                fast:
                  type: boolean
                  description: >-
                    If set to true, the video will be generated using a
                    barebones fast rendering process. This will result in a
                    faster generation of the video but some features will be
                    disabled. Features such as background generation, thumbnail
                    images, and streaming urls are not supported when using this
                    fast rendering process.
                  example: false
                transparent_background:
                  type: boolean
                  description: >
                    If set to true, the generated video will be a `.webm` video
                    with a transparent background.


                    Please note that this feature only works if the `fast`
                    parameter is set to `true`.
                  example: false
                watermark_image_url:
                  type: string
                  description: >-
                    A direct link to a image that is publicly accessible via a
                    storage location such as an S3 bucket. This will be used as
                    the watermark on the video. Currently, it support `png` &
                    `jpeg` formats only. Ensure the image is publicly
                    accessible.
                  example: https://s3.amazonaws.com/watermark.png
                properties:
                  type: object
                  properties:
                    background_scroll:
                      type: boolean
                      description: >
                        If `background_url` is provided, this option may be
                        configured.


                        If set to `true`, the background video will scroll down
                        through the website. If set to `false`, the background
                        video will display the top of the website. 


                        The default is `true`.
                      example: true
                    background_scroll_type:
                      type: string
                      description: >
                        If `background_url` is provided and `background_scroll`
                        is set to `true`, this option may be configured.


                        This parameter defines the scroll pattern if
                        `background_scroll` is set to `true`. 


                        There are two options: `human`, `smooth`. 


                        The `human` scroll type is the default type and mimics a
                        human scrolling through the webpage, briefly stopping at
                        certain intervals to give a natural appearance. The
                        `smooth` scroll type scroll in a uniform manner all the
                        way down the website without stopping.


                        The default is `human`.
                    background_scroll_depth:
                      type: string
                      description: >
                        If `background_url` is provided and `background_scroll`
                        is set to `true`, this option may be configured.

                         This parameter defines how far down the webpage the background video will scroll.
                         
                         There are two options: `middle`, `bottom`.
                         
                         The `middle` depth option will stop scrolling once the middle of the webpage has been hit. The `bottom` will scroll the webpage all the way to the bottom of the page.
                         
                         The default is `middle`.
                    background_scroll_return:
                      type: string
                      description: >
                        If `background_url` is provided and `background_scroll`
                        is set to `true`, this option may be configured.


                        This parameter defines the scrolling behavior once the
                        webpage has been scrolled to the depth specified by the
                        `background_scroll_depth` parameter.


                        There are two options: `return`, `halt`.


                        The `return` option will scroll back up once the webpage
                        has reached `background_scroll_depth`. The `halt` option
                        will pause the background video at the location
                        specified in `background_scroll_depth`.


                        The default is `return`.
                    start_with_wave:
                      type: boolean
                      description: >
                        If set to true, the video will start with a wave
                        animation. This is only supported for select stock
                        replicas.


                        The default is `true`.
                      example: true
              required:
                - replica_id
              oneOf:
                - title: Generate from Text
                  type: object
                  properties:
                    script:
                      type: string
                      description: >-
                        A text script that will be used to generate the audio in
                        the video.
                      example: Hello from Tavus! Enjoy your new replica
                  required:
                    - script
                - title: Generate from Audio File
                  type: object
                  properties:
                    audio_url:
                      type: string
                      description: >-
                        A download link to a .wav or .mp3 file that is publicly
                        accessible via a storage location such as an S3 bucket.
                        This audio file will be used as the audio for the
                        generated video.
                  required:
                    - audio_url
            examples:
              Generate Video:
                value:
                  background_url: https://yourwebsite.com/
                  replica_id: r90bbd427f71
                  script: Hi, this is my first video.
                  video_name: My First Video
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  video_id:
                    type: string
                    example: abcd123
                    description: A unique identifier for the video.
                  video_name:
                    type: string
                    example: Sample Video
                    description: The name of the video.
                  status:
                    type: string
                    example: queued
                    description: >-
                      The status of the video. Possible values: queued,
                      generating, ready, deleted, error.
                  hosted_url:
                    type: string
                    example: https://tavus.video/abcd123
                    description: >-
                      A direct link to view your video once generation has
                      completed, hosted by Tavus.
                  created_at:
                    type: string
                    example: Mon, 14 Jul 2025 09:14:24 GMT
                    description: The date and time the video was created.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid replica_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/videos/{video_id}:
    get:
      tags:
        - Videos
      summary: Get Video
      description: |
        This endpoint returns a single video by its unique identifier.
      operationId: getVideo
      parameters:
        - in: path
          name: video_id
          required: true
          schema:
            type: string
          description: A unique identifier for the video.
        - in: query
          name: verbose
          schema:
            type: boolean
          description: >-
            If set to true, the response will include additional video data such
            as the thumbnail image and gif links.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  video_id:
                    type: string
                    example: ''
                    description: A unique identifier for the video.
                  video_name:
                    type: string
                    description: The name of the video.
                  status:
                    type: string
                    example: ready
                    description: >-
                      Lifecycle status; possible values: `queued`, `generating`,
                      `ready`, `deleted`, `error`. When `ready`, `download_url`,
                      `stream_url`, and `hosted_url` are populated for download,
                      stream, and viewing respectively.
                  data:
                    type: object
                    properties:
                      script:
                        type: string
                        description: >-
                          The script that was initially used to generate the
                          video.
                  download_url:
                    type: string
                    description: >-
                      A direct link to download your generated video (populated
                      when `status` is `ready`).
                  stream_url:
                    type: string
                    description: >-
                      A direct link to stream your generated video (populated
                      when `status` is `ready`).
                  hosted_url:
                    type: string
                    description: >-
                      A direct link to view your generated video, hosted by
                      Tavus (populated when `status` is `ready`).
                  status_details:
                    type: string
                    description: A detailed status of the video.
                  created_at:
                    type: string
                    description: The date and time the video was created.
                  updated_at:
                    type: string
                    description: The date and time of when the video was last updated.
                  still_image_thumbnail_url:
                    type: string
                    description: >-
                      Included if the `verbose` query parameter is set to true.
                      A link to an image thumbnail of the video.
                  gif_thumbnail_url:
                    type: string
                    description: >-
                      Included if the `verbose` query parameter is set to true.
                      A link to a gif thumbnail of the video.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid video_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    delete:
      tags:
        - Videos
      summary: Delete Video
      description: |
        This endpoint deletes a single video by its unique identifier.
      operationId: deleteVideo
      parameters:
        - name: video_id
          in: path
          required: true
          description: The unique identifier of the video generation.
          schema:
            type: string
            example: 8a4f94e736
        - name: hard
          in: query
          schema:
            type: boolean
            example: false
          description: >-
            If set to true, the video and associated assets (such as thumbnail
            images) will be hard deleted. CAUTION: This action is irrevocable.
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid video_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/videos/{video_id}/name:
    patch:
      tags:
        - Videos
      summary: Rename Video
      description: |
        This endpoint renames a single video by its unique identifier.
      operationId: renameVideo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                video_name:
                  type: string
                  example: Sales
              required:
                - video_name
            examples:
              Rename Video:
                value:
                  video_name: Sales
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid video_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    parameters:
      - name: video_id
        in: path
        required: true
        description: The unique identifier of the video generation.
        schema:
          type: string
          example: 8a4f94e736
  /v2/replicas:
    get:
      tags:
        - Replicas
      summary: List Replicas
      description: >
        This endpoint returns a list of all Replicas created by the account
        associated with the API Key in use.
      operationId: listReplicas
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: The number of replicas to return per page.
        - in: query
          name: page
          schema:
            type: integer
          description: The page number to return
        - in: query
          name: verbose
          schema:
            type: boolean
          description: >-
            If set to true, the response will include additional replica data
            such as the replica type.
        - in: query
          name: replica_type
          schema:
            type: string
            enum:
              - user
              - system
          description: >-
            If set to user, the response will only include user replicas. If set
            to system, the response will only include stock replicas.
        - in: query
          name: replica_ids
          schema:
            type: string
          description: >-
            A comma separated list of replica ids to filter the response by.
            Example: `replica_ids=r90bbd427f71`
        - in: query
          name: model_name
          schema:
            type: string
          description: >-
            Filter the list to replicas trained on a specific Phoenix model
            (e.g. `phoenix-3`, `phoenix-4`).
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      Replicas for the current page; use `total_count` for the
                      full count under the applied filters.
                    items:
                      type: object
                      properties:
                        replica_id:
                          type: string
                          example: r90bbd427f71
                          description: A unique identifier for the replica.
                        replica_name:
                          type: string
                          example: My Replica
                          description: The name of the replica.
                        thumbnail_video_url:
                          type: string
                          description: >-
                            A direct link to the video that will be used as the
                            thumbnail for the replica.
                        training_progress:
                          type: string
                          example: 100/100
                          description: >-
                            Training progress as a string (for example
                            `100/100`).
                        status:
                          type: string
                          example: completed
                          description: >-
                            Training lifecycle: `started`, `completed`, or
                            `error`.
                        created_at:
                          type: string
                        replica_type:
                          type: string
                          example: user'
                          description: >-
                            If `verbose` query paramter is set to true. The type
                            of replica. Possible values: user, system. User
                            replicas are replicas that have been created by
                            users. System replicas are stock Tavus replicas that
                            anyone may use
                        model_name:
                          type: string
                          example: phoenix-3
                          description: >-
                            The Phoenix model the replica was trained on (e.g.
                            `phoenix-3`, `phoenix-4`).
                  total_count:
                    type: integer
                    description: The total number of replicas given the filters provided.
                    example: 42
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    post:
      tags:
        - Replicas
      summary: Create Replica
      description: >-
        Creates a new replica from a training video or image URL for use in
        conversations—see [Which training
        path?](/sections/replica/which-training-path) for preparation, consent,
        and media requirements.
      operationId: createReplica
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consent_video_url:
                  type: string
                  description: >
                    Optional direct link to a **separate** video that contains
                    only the consent statement when it is not spoken at the
                    start of `train_video_url`.


                    **Required** when your flow uses a standalone consent
                    recording alongside `train_video_url` for likeness-based
                    training from video. See [Training from a
                    video](/sections/replica/train-with-a-video) and [consent
                    statement
                    requirements](/sections/troubleshooting/consent-statement)
                    for exact wording and troubleshooting.


                    If omitted, the opening of `train_video_url` must include
                    the consent statement instead (see `train_video_url`).
                  example: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-consent-video.mp4
                train_video_url:
                  type: string
                  description: >
                    A direct download link such as a **presigned S3 URL** or
                    other publicly reachable file used for video-based replica
                    training. Do not send `train_image_url` in the same request.


                    The file must meet [training video
                    requirements](/sections/troubleshooting/training-video-size).


                    When you **do not** send `consent_video_url`, this training
                    clip **must** open with the following statement (verbatim),
                    or training will fail:


                    > I, [FULL NAME], am currently speaking and consent Tavus to
                    create an AI clone of me by using the audio and video
                    samples I provide. I understand that this AI clone can be
                    used to create videos that look and sound like me.


                    See [consent statement
                    requirements](/sections/troubleshooting/consent-statement)
                    for formatting tips and troubleshooting.
                  example: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-video.mp4
                train_image_url:
                  type: string
                  description: >-
                    A direct link to a publicly accessible image used for
                    image-to-replica training. Requires `voice_name`. Do not
                    send `train_video_url` in the same request. See [Training
                    from an image](/sections/replica/train-with-an-image) for
                    image training, voice selection, and consent.
                  example: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-image.png
                voice_name:
                  type: string
                  description: >-
                    Required when `train_image_url` is set. Slug that selects
                    the voice from an existing Tavus stock replica
                    (case-insensitive, e.g. `anna`). If supplied with
                    `train_video_url`, the name is still validated when present.
                    Use [List Voices](/api-reference/voices/list-voices) to
                    discover valid slugs; see also [example `voice_name`
                    values](/sections/replica/train-with-an-image#example-voice-name-table).
                  example: anna
                auto_fix_training_image:
                  type: boolean
                  description: >-
                    When set to `true`, Tavus's AI Image Fixer instantly fixes
                    any uploaded image to fit our [image
                    requirements](/sections/replica/train-with-an-image#image-requirements),
                    eliminating the need for editing or recapturing photos. Only
                    applies to image-based training (`train_image_url`).
                  example: true
                callback_url:
                  type: string
                  description: >-
                    A url that will receive a callback on completion of replica
                    training or on error.
                  example: https://yourwebsite.com/webhook
                replica_name:
                  type: string
                  description: A name for the replica.
                  example: Rio
                model_name:
                  type: string
                  description: >-
                    The Phoenix model version used to train the replica.
                    Defaults to `phoenix-4`; set to `phoenix-3` for the older
                    model.
                  example: phoenix-4
                properties:
                  type: object
                  properties:
                    background_green_screen:
                      type: boolean
                      description: >-
                        If set to true, the replica will have a green screen
                        background.
                      example: false
            examples:
              Video with consent videos:
                value:
                  callback_url: https://yourwebsite.com/webhook
                  replica_name: Rio
                  train_video_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-video.mp4
                  consent_video_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-consent-video.mp4
              Non-Human Replica:
                value:
                  callback_url: https://yourwebsite.com/webhook
                  replica_name: AI
                  train_video_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-video.mp4
              Older Model Replica:
                value:
                  model_name: phoenix-3
                  callback_url: https://yourwebsite.com/webhook
                  replica_name: My phoenix-3 Replica
                  train_video_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-video.mp4
                  consent_video_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-consent-video.mp4
              Image to Replica:
                value:
                  callback_url: https://yourwebsite.com/webhook
                  replica_name: Image Replica
                  train_image_url: >-
                    https://my-example-bucket.s3.us-east-1.amazonaws.com/your-train-image.png
                  voice_name: anna
                  auto_fix_training_image: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  replica_id:
                    type: string
                    example: r90bbd427f71
                    description: A unique identifier for the replica.
                  status:
                    type: string
                    example: started
                    description: >-
                      The status of the replica. Possible values: `started`,
                      `completed`, `error`.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: >-
                      Either train_video_url or train_image_url must be
                      provided.
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/replicas/{replica_id}:
    get:
      tags:
        - Replicas
      summary: Get Replica
      description: |
        This endpoint returns a single Replica by its unique identifier.
      operationId: getReplica
      parameters:
        - in: path
          name: replica_id
          required: true
          schema:
            type: string
          description: A unique identifier for the replica.
        - in: query
          name: verbose
          schema:
            type: boolean
          description: >-
            If set to true, the response will include additional replica data
            such as replica_type.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  replica_id:
                    type: string
                    example: r90bbd427f71
                    description: A unique identifier for the replica.
                  replica_name:
                    type: string
                    example: My Replica
                    description: The name of the replica.
                  thumbnail_video_url:
                    type: string
                    description: >-
                      A direct link to the video that will be used as the
                      thumbnail for the replica.
                  training_progress:
                    type: string
                    example: 100/100
                    description: Training progress as a string (for example `100/100`).
                  status:
                    type: string
                    example: completed
                    description: >-
                      Training lifecycle: `started`, `completed`, or `error`. On
                      failure, this is `error` and `error_message` is populated.
                  created_at:
                    type: string
                    example: '2024-01-24T07:14:03.327Z'
                    description: The date and time the replica was created.
                  updated_at:
                    type: string
                    example: '2024-01-24T07:14:03.327Z'
                    description: The date and time of when the replica was last updated.
                  error_message:
                    type: string
                    nullable: true
                    description: >-
                      When `status` is `error`, contains details about the
                      training failure; otherwise typically null.
                  replica_type:
                    type: string
                    example: user'
                    description: >-
                      If `verbose` query paramter is set to true. The type of
                      replica. Possible values: user, system. User replicas are
                      replicas that have been created by users. System replicas
                      are stock Tavus replicas that anyone may use
                  model_name:
                    type: string
                    example: phoenix-3
                    description: >-
                      The Phoenix model the replica was trained on (e.g.
                      `phoenix-3`, `phoenix-4`).
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid replica_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    delete:
      tags:
        - Replicas
      summary: Delete Replica
      description: >-
        Deletes a Replica by its unique ID; deleted replicas cannot be used in a
        conversation.
      operationId: deleteReplica
      parameters:
        - name: replica_id
          in: path
          required: true
          description: The unique identifier of the replica.
          schema:
            type: string
            example: r90bbd427f71
        - name: hard
          in: query
          schema:
            type: boolean
            example: false
          description: >-
            If set to true, the replica and associated assets (such as training
            footage) will be hard deleted. CAUTION: This action is irrevocable.
            Note that a hard delete of a replica does *not* delete the
            conversation created using said replica. See [Delete
            Video](https://docs.tavus.io/api-reference/video-request/delete-video)
            for more info.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid replica_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/replicas/{replica_id}/name:
    patch:
      tags:
        - Replicas
      summary: Rename Replica
      description: |
        This endpoint renames a single Replica by its unique identifier.
      operationId: renameReplica
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replica_name:
                  type: string
                  example: Rio
              required:
                - replica_name
            examples:
              Rename Replica:
                value:
                  replica_name: Rio
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid replica_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    parameters:
      - name: replica_id
        in: path
        required: true
        description: The unique identifier of the replica.
        schema:
          type: string
          example: r90bbd427f71
  /v2/voices:
    get:
      tags:
        - Voices
      summary: List Voices
      description: >
        Returns available stock **`voice_name`** values and their linked
        **replica** metadata. When you [Create
        Replica](/api-reference/phoenix-replica-model/create-replica) with
        **`train_image_url`** (image-to-replica), **`voice_name`** is
        required—use this list to pick a valid slug and to preview options.
      operationId: getVoices
      parameters:
        - name: limit
          in: query
          description: Page size (1–100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: page
          in: query
          description: Page number (1-based).
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: search
          in: query
          description: Case-insensitive substring match on `voice_name`.
          schema:
            type: string
        - name: sort
          in: query
          description: Sort `voice_name` ascending or descending.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: tag
          in: query
          description: >-
            If set, only voices whose replica tags include this tag name
            (case-insensitive).
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      Voices for the current page; use `total_count`, `page`,
                      and `limit` with the query parameters for pagination.
                    items:
                      type: object
                      properties:
                        voice_name:
                          type: string
                          description: >-
                            Slug to pass as **`voice_name`** on Create Replica
                            (image-to-replica).
                          example: anna
                        replica_id:
                          type: string
                          description: Replica identifier associated with this voice.
                          example: r90bbd427f71
                        audio_url:
                          type: string
                          nullable: true
                          description: >-
                            Optional preview URL (e.g. sample clip) when
                            available.
                        tags:
                          type: array
                          description: Tags from the replica record (e.g. for filtering).
                          items:
                            type: object
                            properties:
                              tag_name:
                                type: string
                  total_count:
                    type: integer
                    description: Total rows matching filters (before pagination).
                  page:
                    type: integer
                  limit:
                    type: integer
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/conversations:
    post:
      tags:
        - Conversations
      description: >
        This endpoint starts a real-time video conversation with your AI
        replica, powered by a persona that allows it to see, hear, and respond
        like a human.
      operationId: createConversation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replica_id:
                  type: string
                  description: >-
                    The unique identifier for the replica that will join the
                    conversation. **Each request must have a valid `replica_id`
                    value that's either directly passed in or as part of a
                    persona**.
                  example: r90bbd427f71
                persona_id:
                  type: string
                  description: >
                    The unique identifier for the persona that the replica will
                    use in the conversation.


                    - **If your Persona does not have a valid `replica_id`, you
                    must define the `replica_id` field.**

                    - **If your Persona already has a valid `replica_id` and you
                    provide one in the request, the `replica_id` provided in the
                    request will be used instead of the one defined in your
                    persona**.
                  example: pcb7a34da5fe
                audio_only:
                  type: boolean
                  description: >-
                    Specifies whether the interaction should be voice-only.
                    **This field is required if you want to create an audio-only
                    conversation**.
                  example: 'false'
                callback_url:
                  type: string
                  description: >-
                    A url that will receive webhooks with updates regarding the
                    conversation state.
                  example: https://yourwebsite.com/webhook
                conversation_name:
                  type: string
                  description: A name for the conversation.
                  example: Improve Sales Technique
                conversational_context:
                  type: string
                  description: >-
                    Optional context that will be appended to any context
                    provided in the persona, if one is provided.
                  example: >-
                    I want to improve my sales techniques. Help me practice
                    handling common objections from clients and closing deals
                    more effectively.
                custom_greeting:
                  type: string
                  description: >-
                    An optional custom greeting that the replica will give once
                    a participant joines the conversation.
                  example: Hey there!
                memory_stores:
                  type: array
                  items:
                    type: string
                  description: >-
                    The memory stores to use for the conversation. The persona
                    will have access to the existing memories in the store and
                    will add newly made memories to the store as well. In most
                    use cases, you will only need to pass in a single memory
                    store.
                  example:
                    - anna
                document_ids:
                  type: array
                  items:
                    type: string
                  description: >-
                    The ids of the documents that the persona will be able to
                    access during the conversation. The `document_ids` are
                    returned during the document creation process in the
                    response of the [Get
                    Document](/api-reference/documents/get-document) and the
                    [Create Document](/api-reference/documents/create-document)
                    endpoints.
                  example:
                    - doc_1234567890
                document_retrieval_strategy:
                  type: string
                  description: >-
                    The strategy to use for document retrieval. Possible values:
                    `speed`, `quality`, `balanced`. Default is `balanced`.
                  example: balanced
                document_tags:
                  type: array
                  items:
                    type: string
                  description: >-
                    The tags of the documents that the replica will be able to
                    access during the conversation. The tags are passed in the
                    `document_tags` parameter of the [Create
                    Document](/api-reference/documents/create-document)
                    endpoint. The document tags do not have to be created
                    explicitly, it is enough to pass in the tags during the
                    document creation process.
                  example:
                    - sales
                    - marketing
                test_mode:
                  type: boolean
                  description: >-
                    If true, the conversation will be created but the replica
                    will not join the call. This can be used for testing the
                    conversation creation process without incurring any costs.
                    Additionally, the conversation will be created with a status
                    `ended` so it does not affect concurrency limits.
                  example: false
                require_auth:
                  type: boolean
                  description: >-
                    If true, creates a private room requiring authentication. A
                    `meeting_token` will be returned in the response that must
                    be used to join the conversation. Without a valid token,
                    users will see 'You are not allowed to join this meeting.'
                  example: false
                max_participants:
                  type: integer
                  minimum: 2
                  description: >-
                    Maximum number of participants allowed in the conversation
                    room. Must be at least 2 (the replica counts as one
                    participant).
                  example: 2
                properties:
                  type: object
                  description: >-
                    Optional properties that can be used to customize the
                    conversation.
                  properties:
                    max_call_duration:
                      type: integer
                      description: >-
                        The maximum duration of the call in seconds. The default
                        max_call_duration is 3600 seconds (1 hour). Once the
                        time limit specified by this parameter has been reached,
                        the conversation will automatically shut down.
                      example: 3600
                    participant_left_timeout:
                      type: integer
                      description: >-
                        The duration in seconds after which the call will be
                        automatically shut down once the last participant
                        leaves.
                      example: 60
                    participant_absent_timeout:
                      type: integer
                      description: >-
                        Starting from conversation creation, the duration in
                        seconds after which the call will be automatically shut
                        down if no participant joins the call. Default is 300
                        seconds (5 minutes).
                      example: 300
                    enable_recording:
                      type: boolean
                      description: >-
                        If true, the user will be able to record the
                        conversation. You can find more instructions on
                        recording
                        [here](/sections/conversational-video-interface/quickstart/conversation-recordings#conversation-recordings).
                      example: true
                    enable_closed_captions:
                      type: boolean
                      description: >-
                        If true, the user will be able to display closed
                        captions (subtitles) during the conversation. You can
                        find more instructions on displaying closed captions if
                        you are using your custom DailyJS components
                        [here](https://docs.daily.co/reference/daily-js/events/transcription-events#transcription-message).
                        You need to have an [event
                        listener](https://docs.daily.co/reference/daily-js/events)
                        on Daily that listens for app-messages.
                      example: true
                    apply_greenscreen:
                      type: boolean
                      description: >-
                        If true, the background will be replaced with a
                        greenscreen (RGB values: [0, 255, 155]). You can use
                        WebGL on the frontend to make the greenscreen
                        transparent or change its color.
                      example: true
                    language:
                      type: string
                      description: >-
                        The language of the conversation. Please provide the
                        FULL language name, not the two letter code, or specify
                        `multilingual` for automatic language detection. When
                        set to `multilingual`, CVI will use STT language
                        detection to identify the user's spoken language and
                        respond accordingly. If you are using your own TTS
                        voice, please ensure it supports the language you
                        provide. If you are using a stock replica or default
                        persona, please note that only Elevenlabs and Cartesia
                        supported languages are available. You can find a full
                        list of supported languages for Cartesia
                        [here](https://docs.cartesia.ai/2024-11-13/build-with-cartesia/models#language-support),
                        and for ElevenLabs
                        [here](https://elevenlabs.io/languages).
                      example: multilingual
                    recording_s3_bucket_name:
                      type: string
                      deprecated: true
                      description: >
                        **Deprecated.** Use `recording_storage` (also on
                        `properties`) instead. The name of the S3 bucket where
                        the recording will be stored. Existing integrations
                        using this flat field continue to work unchanged.
                      example: conversation-recordings
                    recording_s3_bucket_region:
                      type: string
                      deprecated: true
                      description: >
                        **Deprecated.** Use `recording_storage` (also on
                        `properties`) instead. The region of the S3 bucket where
                        the recording will be stored. Existing integrations
                        using this flat field continue to work unchanged.
                      example: us-east-1
                    aws_assume_role_arn:
                      type: string
                      deprecated: true
                      description: >
                        **Deprecated.** Use `recording_storage` (also on
                        `properties`) instead. The ARN of the role that will be
                        assumed to access the S3 bucket. Existing integrations
                        using this flat field continue to work unchanged.
                      example: ''
                    recording_storage:
                      $ref: '#/components/schemas/recording_storage_config'
            examples:
              Required Parameters Only:
                value:
                  replica_id: r90bbd427f71
                  persona_id: pcb7a34da5fe
              Full Customizations:
                value:
                  replica_id: r90bbd427f71
                  persona_id: pcb7a34da5fe
                  callback_url: https://yourwebsite.com/webhook
                  conversation_name: Improve Sales Technique
                  conversational_context: >-
                    I want to improve my sales techniques. Help me practice
                    handling common objections from clients and closing deals
                    more effectively.
                  properties:
                    max_call_duration: 1800
                    participant_left_timeout: 60
                    participant_absent_timeout: 120
                    language: multilingual
                    enable_closed_captions: true
                    apply_greenscreen: true
              Audio Only:
                value:
                  replica_id: r90bbd427f71
                  persona_id: pcb7a34da5fe
                  audio_only: true
              Private Room:
                value:
                  replica_id: r90bbd427f71
                  persona_id: pcb7a34da5fe
                  require_auth: true
              Recording Storage - Amazon S3:
                value:
                  replica_id: rf4e9d9790f0
                  persona_id: pcb7a34da5fe
                  properties:
                    enable_recording: true
                    recording_storage:
                      provider: s3
                      bucket_name: conversation-recordings
                      bucket_region: us-east-1
                      assume_role_arn: arn:aws:iam::123456789012:role/TavusRecordingWriter
                      external_id: tavus-acct-abc123
              Recording Storage - Google Cloud Storage:
                value:
                  replica_id: rf4e9d9790f0
                  persona_id: pcb7a34da5fe
                  properties:
                    enable_recording: true
                    recording_storage:
                      provider: gcs
                      bucket_name: conversation-recordings
                      project_id: my-gcp-project
                      workload_identity_provider: >-
                        projects/123456/locations/global/workloadIdentityPools/tavus-recording-pool/providers/tavus-worker
                      service_account_email: >-
                        tavus-recording-writer@my-gcp-project.iam.gserviceaccount.com
              Recording Storage - Azure Blob Storage:
                value:
                  replica_id: rf4e9d9790f0
                  persona_id: pcb7a34da5fe
                  properties:
                    enable_recording: true
                    recording_storage:
                      provider: azure_blob
                      storage_account: myrecordingsaccount
                      container: conversation-recordings
                      tenant_id: 11111111-2222-3333-4444-555555555555
                      client_id: 66666666-7777-8888-9999-000000000000
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation_id:
                    type: string
                    description: A unique identifier for the conversation.
                    example: c123456
                  conversation_name:
                    type: string
                    description: The name of the conversation.
                    example: A Meeting with Hassaan
                  conversation_url:
                    type: string
                    description: >-
                      A direct link to join the conversation. This link can be
                      used to join the conversation directly or can be embedded
                      in a website.
                    example: https://tavus.daily.co/c123456
                  status:
                    type: string
                    description: >-
                      The status of the conversation. Possible values: `active`,
                      `ended`.
                    example: active
                  callback_url:
                    type: string
                    description: >-
                      The url that will receive webhooks with updates of the
                      conversation state.
                    example: sample.com/callback
                  created_at:
                    type: string
                    description: The date and time the conversation was created.
                    example: <string>
                  meeting_token:
                    type: string
                    description: >-
                      A short-lived JWT token required to join the conversation.
                      Only returned when `require_auth` is true. Append as
                      `?t=TOKEN` to the conversation URL or pass to Daily SDK's
                      join() method.
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: >-
                      There was an error creating the conversation, please reach
                      out to support at support@tavus.io!
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
    get:
      tags:
        - Conversations
      summary: List Conversations
      description: >
        This endpoint returns a list of all Conversations created by the account
        associated with the API Key in use.
      operationId: listConversations
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          description: The number of conversations to return per page. Default is 10.
        - in: query
          name: page
          schema:
            type: integer
          description: The page number to return. Default is 1.
        - in: query
          name: status
          schema:
            type: string
          description: 'Filter the conversations by status. Possible values: active, ended.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      Conversations for the current page; use `total_count` for
                      the full count under the applied filters.
                    items:
                      type: object
                      properties:
                        conversation_id:
                          type: string
                          description: A unique identifier for the conversation.
                          example: c123456
                        conversation_name:
                          type: string
                          description: A name for the conversation.
                          example: A Meeting with Hassaan
                        status:
                          type: string
                          description: The status of the video.
                          example: active
                        conversation_url:
                          type: string
                          description: A direct link to join the conversation.
                          example: https://tavus.daily.co/c123456
                        callback_url:
                          type: string
                          description: >-
                            The url that will receive webhooks with updates of
                            the conversation state.
                          example: https://yourwebsite.com/webhook
                        replica_id:
                          type: string
                          description: >-
                            A unique identifier for the replica used to create
                            this conversation
                          example: r90bbd427f71
                        persona_id:
                          type: string
                          description: >-
                            A unique identifier for the persona used to create
                            this conversation
                          example: pcb7a34da5fe
                        created_at:
                          type: string
                          description: The date and time the conversation was created.
                          example: ''
                        updated_at:
                          type: string
                          description: >-
                            The date and time of when the conversation was last
                            updated.
                  total_count:
                    type: integer
                    description: >-
                      The total number of conversations given the filters
                      provided.
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
  /v2/conversations/{conversation_id}:
    get:
      tags:
        - Conversations
      summary: Get Conversation
      description: |
        This endpoint returns a single conversation by its unique identifier.
      operationId: getConversation
      parameters:
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Append `verbose=true` to the URL to receive additional event data in
            the response, including:

            - `shutdown_reason`: The reason why the conversation ended (e.g.,
            "participant_left_timeout")

            - `system.replica_joined`: When the replica joined the conversation

            - `system.shutdown`: When and why the conversation ended

            - `application.transcription_ready`: The end-of-call transcript.
            Each entry in `properties.transcript` has `role` (`user` /
            `assistant` / `system` / `tool`), `content`, `timestamp` (Unix epoch
            float, seconds), `seconds_from_start`, `duration` (seconds, float)
            and `inference_id` where available.

            - `application.perception_analysis`: The final visual analysis of
            the user that includes their appearance, behavior, emotional states,
            and screen activities


            This is particularly useful as an alternative to using the
            `callback_url` parameter on the [create
            conversation](/api-reference/conversations/create-conversation)
            endpoint for retrieving detailed conversation data.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation_id:
                    type: string
                    example: c123456
                    description: A unique identifier for the conversation.
                  conversation_name:
                    type: string
                    example: A Meeting with Hassaan
                    description: The name of the conversation.
                  conversation_url:
                    type: string
                    example: https://tavus.daily.co/c123456
                    description: A direct link to join the conversation.
                  callback_url:
                    type: string
                    description: >-
                      The url that will receive webhooks with updates of the
                      conversation state.
                    example: https://yourwebsite.com/webhook
                  status:
                    type: string
                    description: The status of the conversation.
                    example: active
                  replica_id:
                    type: string
                    description: >-
                      A unique identifier for the replica used to create this
                      conversation
                    example: r90bbd427f71
                  persona_id:
                    type: string
                    description: >-
                      A unique identifier for the persona used to create this
                      conversation
                    example: pcb7a34da5fe
                  created_at:
                    type: string
                    example: ''
                    description: The date and time the conversation was created.
                  updated_at:
                    type: string
                    example: ''
                    description: >-
                      The date and time of when the conversation was last
                      updated.
                  events:
                    type: array
                    nullable: true
                    description: >-
                      When `verbose=true`, additional conversation events (e.g.
                      shutdown, perception analysis payloads, end-of-call
                      transcript).
                    items:
                      type: object
                      properties:
                        event_type:
                          type: string
                          description: >-
                            Event name (e.g. system.replica_joined,
                            application.transcription_ready,
                            application.perception_analysis).
                        timestamp:
                          type: string
                          description: ISO 8601 time of the event.
                        properties:
                          type: object
                          additionalProperties: true
                          description: >-
                            Event-specific payload when present. For
                            `application.transcription_ready`, includes a
                            `transcript` array of per-turn entries.
              examples:
                default:
                  summary: Default response (verbose omitted or false)
                  value:
                    conversation_id: c123456
                    conversation_name: A Meeting with Hassaan
                    conversation_url: https://tavus.daily.co/c123456
                    callback_url: https://yourwebsite.com/webhook
                    status: active
                    replica_id: r90bbd427f71
                    persona_id: pcb7a34da5fe
                    created_at: '2026-04-29T12:00:00Z'
                    updated_at: '2026-04-29T12:05:00Z'
                verbose:
                  summary: Example when verbose=true
                  value:
                    conversation_id: conv_123
                    status: ended
                    replica_id: replica_abc
                    persona_id: persona_xyz
                    created_at: '2026-04-29T03:45:49Z'
                    updated_at: '2026-04-29T03:47:01Z'
                    events:
                      - event_type: system.replica_joined
                        timestamp: '2026-04-29T03:45:53Z'
                      - event_type: application.transcription_ready
                        timestamp: '2026-04-29T03:47:00Z'
                        properties:
                          transcript:
                            - role: assistant
                              content: Hi, welcome. What brought you here today?
                              timestamp: 1779475657.84
                              seconds_from_start: 0
                              duration: 2.15
                              inference_id: inf_abc123
                            - role: user
                              content: Just testing.
                              timestamp: 1779475684.88
                              seconds_from_start: 27.04
                              duration: 1.84
                      - event_type: system.shutdown
                        timestamp: '2026-04-29T03:47:01Z'
                        properties:
                          reason: participant_left_timeout
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid conversation_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    delete:
      tags:
        - Conversations
      summary: Delete Conversation
      description: >
        This endpoint deletes a single conversation by its unique identifier.
        Use this for destructive data removal. For normal call cleanup when a
        user leaves or a session is finished, use [End
        Conversation](/api-reference/conversations/end-conversation) instead.
      operationId: deleteConversation
      parameters:
        - name: hard
          in: query
          schema:
            type: boolean
            example: true
          description: >-
            If set to true, the conversation and associated assets will be hard
            deleted. CAUTION: This action is irrevocable.
      responses:
        '204':
          description: NO CONTENT
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid conversation_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    parameters:
      - name: conversation_id
        in: path
        required: true
        description: The unique identifier of the conversation.
        schema:
          type: string
          example: c123456
  /v2/conversations/{conversation_id}/end:
    post:
      tags:
        - Conversations
      summary: End Conversation
      description: >
        This endpoint ends a single conversation by its unique identifier. Use
        this for routine call cleanup when a user leaves or your app no longer
        needs the room. To destructively remove conversation data, use [Delete
        Conversation](/api-reference/conversations/delete-conversation).
      operationId: endConversation
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error message.
                    example: Invalid conversation_id
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                    example: Invalid access token
      security:
        - apiKey: []
    parameters:
      - name: conversation_id
        in: path
        required: true
        description: The unique identifier of the conversation.
        schema:
          type: string
          example: c123456
  /v2/personas:
    post:
      tags:
        - Personas
      summary: Create Persona
      description: >-
        Creates a persona that configures how a replica behaves and sounds in
        CVI for every conversation that uses that persona.
      operationId: createPersona
      requestBody:
        content:
          application/json:
            schema:
[...]
